h1{
    color:orange;
    font-size: 70px;
}

h2{ 
    color:lightseagreen;
    font-size: 42px
}

h3{
    color:lightseagreen;
    font-size: 30px
}

.nav_header{
    display: inline;
}
header{
    background-color:azure ;
}
aside{
    background-color: blanchedalmond;
}
main{
    background-color: azure;

padding: 30px;
margin: 10px
}

article{
background-color: azure;
border: 15px solid lightblue;
padding: 100px;
margin: 10px
}
p{
font-size: 25px;
}
ul{
font-size: 25px;
}
ol{
font-size: 25px;
}
a{
color:lightseagreen;
font-size: 25px;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;

} 